body {
    background-color:hotpink;
   
}

table {
    background-color: lavenderblush;
    height: 340px;
    width: 630px;
    margin: auto; /*margin auto needs width to be specified*/
    text-align: center;
    position: relative;
    top: 200px;
    border: 2px groove yellow;
    border-radius: 20px;
    box-shadow: 3px 2px 6px 2px deeppink;
}
.lblCommonCss {
    font-size: 25px;
}

.txtCommonCss {
    font-size:21px;
    outline: none;
    border-radius:10px;
    border: 2px groove lightgrey;
    height:30px;
}

.txtCommonCss:focus {
    border: 2px groove white;
    
    box-shadow: 3px 3px 7px 5px pink;
}
.lblError{
    color:red;
    font-size:25px;
}
#btnLogin {
    width: 190px;
    height: 39px;
    font-size: 23px;
    border: 2px solid white;
    background-color: lavenderblush;
    color: darkgray;
    outline:none;
    border-radius: 20px;
    box-shadow: 3px 2px 6px 2px grey;
}
#btnLogin:hover {
        background-color: hotpink;
        color: white;
        box-shadow: 5px 7px 7px 5px pink;
       
}
td{
    height:50px;
}
.lblLogIn {
    line-height: 50px;
    font-size: 30px;
    display: inline-block;
    width: 200px;
    text-align: center;
    /*or vertical-align:middle;*/
    color: darkblue;
    background-color: aliceblue;
    position: absolute;
    top: 120px;
    left: 687px;
    border: 3px solid yellow;
    box-shadow: 3px 2px 6px 2px deeppink;
}
/*Welcome Page*/
h2, h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    text-align:center;
}